# Sobre o conjunto de dados

A doença por coronavírus (COVID-19) é uma doença infecciosa causada pelo vírus SARS-CoV-2.

A maioria das pessoas infectadas com o vírus experimentará doenças respiratórias leves a moderadas e se recuperará sem a necessidade de tratamento especial. No entanto, alguns ficarão gravemente doentes e precisarão de atenção médica. Pessoas idosas e aqueles com condições médicas subjacentes, como doenças cardiovasculares, diabetes, doenças respiratórias crônicas ou câncer, são mais propensos a desenvolver doenças graves. Qualquer pessoa pode ficar doente com COVID-19 e ficar gravemente doente ou morrer em qualquer idade.

A melhor maneira de prevenir e retardar a transmissão é estar bem informado sobre a doença e como o vírus se espalha. Proteja-se e aos outros da infecção, permanecendo a pelo menos 1 metro de distância dos outros, usando uma máscara devidamente ajustada e lavando as mãos ou usando uma fricção à base de álcool com frequência. Vacine-se quando for a sua vez e siga as orientações locais.

O vírus pode se espalhar da boca ou nariz de uma pessoa infectada em pequenas partículas líquidas quando tosse, espirra, fala, canta ou respira. Essas partículas variam de gotículas respiratórias maiores a aerossóis menores. É importante praticar a etiqueta respiratória, por exemplo, tossindo em um cotovelo flexionado, e ficar em casa e se auto-isolar até se recuperar se você se sentir mal.

Todo projeto deve iniciar com a análise dos dados, para tanto faz-se necessário:
- Importar as bibliotecas necessárias;
- Importar as bases a serem utilizadas no projeto;
- Visualizar os dados contidos na base;
- Verificar a inconsistência do domínio dos dados;
- Corrigir as inconsistências do domínio (tipo) dos dados;
- Verificar colunas não necessárias no modelo e excluí-las;
- Verificar a existência de dados não preenchidos na base;
- Decidir o quê deverá ser feito com estas colunas/linhas (excluir, preencher com determinados valores, ...)
- Visualizar novamente a base;
- Análise estatística rápida da base, obtendo a: média, mediana, moda, desvio padrão, quartis...
- Aplicar filtros para entender os dados;


## De acordo com a descrição, faça o tratamento dos dados e responda as seguintes questões:

### Os top 10 países que mais registraram casos de COVID?
### Os top 10 países que mais apresentaram casos de morte por COVID?
### Onde os casos ainda são altos?

In [ ]:
# Importar as bibliotecas necessárias para realizar a análise de dados
import pandas as pd
import numpy as np

In [ ]:
# Importar a base de dados
from google.colab import drive
drive.mount('/content/drive')
caminho_do_arquivo = '/content/drive/MyDrive/Colab Notebooks/covid_worldwide.csv'


import pandas as pd
df = pd.read_csv(caminho_do_arquivo)

Mounted at /content/drive

In [ ]:
# Visualizar as 10 primeiras linhas
print(df.head(10))

   Serial Number   Country  Total Cases Total Deaths Total Recovered  \
0              1       USA  104,196,861    1,132,935     101,322,779
1              2     India   44,682,784      530,740      44,150,289
2              3    France   39,524,311      164,233      39,264,546
3              4   Germany   37,779,833      165,711      37,398,100
4              5    Brazil   36,824,580      697,074      35,919,372
5              6     Japan   32,588,442       68,399      21,567,425
6              7  S. Korea   30,197,066       33,486      29,740,877
7              8     Italy   25,453,789      186,833      25,014,986
8              9        UK   24,274,361      204,171      24,020,088
9             10    Russia   21,958,696      395,108      21,356,008

  Active Cases     Total Test     Population
0    1,741,147  1,159,832,679    334,805,269
1        1,755    915,265,788  1,406,631,776
2       95,532    271,490,188     65,584,518
3      216,022    122,332,384     83,883,596
4      208,134     63,776,166    215,353,593
5   10,952,618     92,144,639    125,584,838
6      422,703     15,804,065     51,329,899
7      251,970    265,478,247     60,262,770
8       50,102    522,526,476     68,497,907
9      207,580    273,400,000    145,805,947

In [ ]:
# Visualizar as 5 últimas linhas
print(df.tail(5))

     Serial Number           Country Total Cases Total Deaths Total Recovered  \
226            227  Diamond Princess         712           13             699
227            228      Vatican City          29          NaN              29
228            229    Western Sahara          10            1               9
229            230        MS Zaandam           9            2               7
230            231           Tokelau           5          NaN             NaN

    Active Cases Total Test Population
226            0        NaN        NaN
227            0        NaN        799
228            0        NaN    626,161
229            0        NaN        NaN
230            5        NaN      1,378

In [ ]:
# Visualizar a quantidade de linhas e colunas da base de dados
print(df.shape)

(231, 8)

In [ ]:
# Verificar os tipos dos campos, se estes estão nulos ou não
print(df.dtypes)
print(df.isnull().sum())

Serial Number       int64
Country            object
Total Cases        object
Total Deaths       object
Total Recovered    object
Active Cases       object
Total Test         object
Population         object
dtype: object
Serial Number       0
Country             0
Total Cases         0
Total Deaths        6
Total Recovered    21
Active Cases       19
Total Test         18
Population          3
dtype: int64

In [ ]:
# Transformar os campos tipo Object para Float, com exceção do nome dos países
def converter_para_float(coluna):
    if coluna.name != 'nome_do_pais':  # Substitua 'nome_do_pais' pelo nome real da sua coluna de países
        return pd.to_numeric(coluna, errors='coerce')
    return coluna

df_transformado = df.apply(converter_para_float)

In [ ]:
# Tratar os dados inconsistentes (sem valor)
import pandas as pd
df = df.dropna()
df = df.dropna(how='all')
print(df.isnull().sum())

Serial Number      0
Country            0
Total Cases        0
Total Deaths       0
Total Recovered    0
Active Cases       0
Total Test         0
Population         0
dtype: int64

In [ ]:
# Excluir o campos desnecessários na base
# Para excluir linhas onde as colunas 'coluna1' ou 'coluna2' contêm 'N/A'
df = df.dropna(subset=['Total Recovered', 'Active Cases'])

In [ ]:
# Visualizar a base de dados novamente
import pandas as pd
pd.set_option('display.max_rows', None)
print(df)

     Serial Number                 Country  Total Cases Total Deaths  \
0                1                     USA  104,196,861    1,132,935
1                2                   India   44,682,784      530,740
2                3                  France   39,524,311      164,233
3                4                 Germany   37,779,833      165,711
4                5                  Brazil   36,824,580      697,074
5                6                   Japan   32,588,442       68,399
6                7                S. Korea   30,197,066       33,486
7                8                   Italy   25,453,789      186,833
8                9                      UK   24,274,361      204,171
9               10                  Russia   21,958,696      395,108
11              12                   Spain   13,731,478      118,434
12              13                 Vietnam   11,526,508       43,186
13              14               Australia   11,295,446       18,615
14              15               Argentina   10,037,135      130,421
15              16                  Taiwan    9,569,611       16,356
16              17             Netherlands    8,582,500       22,989
17              18                    Iran    7,564,350      144,749
18              19                  Mexico    7,368,252      332,198
19              20               Indonesia    6,730,289      160,817
20              21                  Poland    6,380,225      118,736
21              22                Colombia    6,356,309      142,486
22              23                 Austria    5,780,229       21,689
23              24                  Greece    5,708,301       35,630
24              25                Portugal    5,563,907       26,022
25              26                 Ukraine    5,370,131      111,020
26              27                   Chile    5,118,981       63,812
27              28                Malaysia    5,036,593       36,942
28              29                  Israel    4,786,189       12,193
30              31                Thailand    4,726,984       33,865
31              32                 Belgium    4,691,499       33,557
32              33                 Czechia    4,590,019       42,312
33              34                  Canada    4,550,256       50,380
34              35                    Peru    4,481,621      218,931
35              36             Switzerland    4,385,701       14,452
36              37             Philippines    4,073,454       65,802
37              38            South Africa    4,055,966      102,595
38              39                 Romania    3,325,006       67,576
39              40                 Denmark    3,173,247        8,145
40              41               Hong Kong    2,877,280       13,358
41              42                  Sweden    2,693,458       23,246
42              43                  Serbia    2,471,198       17,701
43              44                    Iraq    2,465,545       25,375
44              45               Singapore    2,217,110        1,722
45              46                 Hungary    2,192,447       48,677
46              47             New Zealand    2,182,355        3,781
47              48              Bangladesh    2,037,556       29,442
48              49                Slovakia    1,860,893       20,946
49              50                 Georgia    1,814,180       16,926
50              51                  Jordan    1,746,997       14,122
51              52                 Ireland    1,700,253        8,462
52              53                Pakistan    1,576,313       30,640
53              54                  Norway    1,477,856        5,112
54              55                 Finland    1,458,619        8,639
55              56              Kazakhstan    1,405,917       13,695
56              57                Slovenia    1,321,852        7,056
57              58               Lithuania    1,296,865        9,545
58              59                Bulgaria    1,295,426       38,179
59              60                 Morocco    1,272,240       16,296
60              61                 Croatia    1,267,580       17,877
61              62                 Lebanon    1,228,639       10,790
62              63               Guatemala    1,227,853       20,106
63              64                 Bolivia    1,187,986       22,346
64              65              Costa Rica    1,186,176        9,158
66              67                    Cuba    1,112,438        8,530
67              68                 Ecuador    1,051,239       35,942
68              69                     UAE    1,049,409        2,348
69              70                 Uruguay    1,032,710        7,609
70              71                  Panama    1,029,701        8,596
71              72                Mongolia    1,007,871        2,179
72              73                   Nepal    1,001,102       12,020
73              74                 Belarus      994,037        7,118
74              75                  Latvia      975,355        6,218
75              76            Saudi Arabia      827,962        9,574
76              77              Azerbaijan      827,944       10,085
78              79                 Bahrain      700,452        1,543
79              80               Sri Lanka      671,989       16,828
80              81                  Kuwait      662,858        2,570
81              82      Dominican Republic      660,095        4,384
82              83                  Cyprus      642,663        1,287
83              84                 Myanmar      633,820       19,490
84              85               Palestine      621,008        5,404
85              86                 Estonia      613,891        2,912
86              87                 Moldova      598,673       11,953
87              88               Venezuela      551,587        5,845
88              89                   Egypt      515,645       24,613
89              90                   Libya      507,162        6,437
91              92                Ethiopia      499,531        7,572
92              93                   Qatar      492,534          686
93              94                 Réunion      485,895          919
95              96                 Armenia      446,008        8,717
96              97  Bosnia and Herzegovina      401,384       16,255
97              98                    Oman      399,449        4,628
98              99         North Macedonia      346,428        9,638
99             100                   Kenya      342,810        5,688
100            101                  Zambia      340,763        4,047
101            102                 Albania      334,167        3,595
102            103                Botswana      329,227        2,800
103            104              Luxembourg      297,757        1,133
104            105              Montenegro      286,355        2,797
105            106                  Brunei      275,220          225
106            107                 Algeria      271,378        6,881
107            108                 Nigeria      266,463        3,155
108            109                Zimbabwe      261,606        5,652
109            110              Uzbekistan      250,567        1,637
110            111              Mozambique      231,994        2,233
114            115             Afghanistan      208,545        7,882
115            116              Kyrgyzstan      206,592        2,991
116            117             El Salvador      201,785        4,230
118            119     Trinidad and Tobago      187,908        4,326
119            120                Maldives      185,715          311
120            121                   Ghana      171,112        1,462
121            122                 Namibia      170,741        4,088
122            123                  Uganda      170,400        3,630
123            124                 Jamaica      153,407        3,480
124            125                Cambodia      138,693        3,056
125            126                  Rwanda      133,090        1,468
126            127                Cameroon      123,993        1,965
127            128                   Malta      117,062          824
128            129                Barbados      106,157          571
129            130                  Angola      105,184        1,931
130            131         Channel Islands      101,116          223
131            132           French Guiana       98,028          420
132            133                     DRC       95,514        1,463
133            134                 Senegal       88,902        1,971
134            135                  Malawi       88,559        2,686
135            136             Ivory Coast       87,982          833
137            138           New Caledonia       79,845          314
139            140                Eswatini       74,133        1,422
140            141                  Guyana       72,950        1,294
141            142                  Belize       70,660          688
142            143                    Fiji       68,820          883
143            144              Madagascar       67,827        1,419
144            145                   Sudan       63,742        5,001
145            146              Mauritania       63,665          997
146            147              Cabo Verde       63,229          413
147            148                  Bhutan       62,605           21
148            149                   Syria       57,453        3,164
149            150                 Burundi       53,492           38
151            152                   Gabon       48,981          306
152            153                 Andorra       47,839          165
153            154        Papua New Guinea       46,750          670
154            155                 Curaçao       45,986          295
155            156                   Aruba       43,993          236
158            159               Mauritius       41,652        1,043
159            160                    Togo       39,354          290
160            161                  Guinea       38,240          467
162            163                 Bahamas       37,491          833
163            164                 Lesotho       34,790          723
165            166                   Haiti       34,076          860
166            167                    Mali       32,783          743
167            168          Cayman Islands       31,472           37
168            169             Saint Lucia       29,803          409
169            170                   Benin       27,989          163
170            171                 Somalia       27,318        1,361
171            172                   Congo       25,375          386
173            174              San Marino       23,427          122
174            175             Timor-Leste       23,415          138
176            177            Burkina Faso       22,025          396
177            178           Liechtenstein       21,340           89
178            179               Gibraltar       20,399          111
179            180                 Grenada       19,680          238
180            181                 Bermuda       18,766          157
182            183             South Sudan       18,368          138
184            185       Equatorial Guinea       17,190          183
185            186                   Tonga       16,734           13
186            187                   Samoa       16,087           29
187            188                  Monaco       16,056           65
188            189                Dominica       15,760           74
189            190                Djibouti       15,690          189
191            192                     CAR       15,368          113
192            193                  Gambia       12,586          372
193            194            Saint Martin       12,233           63
194            195                 Vanuatu       12,014           14
195            196               Greenland       11,971           21
196            197                   Yemen       11,945        2,159
197            198   Caribbean Netherlands       11,661           38
198            199            Sint Maarten       11,010           89
199            200                 Eritrea       10,189          103
200            201                   Niger        9,931          312
201            202  St. Vincent Grenadines        9,585          123
202            203     Antigua and Barbuda        9,106          146
204            205           Guinea-Bissau        8,947          176
205            206                 Liberia        8,062          294
207            208                    Chad        7,652          194
209            210            Cook Islands        7,011            2
210            211   Saint Kitts and Nevis        6,592           46
211            212        Turks and Caicos        6,522           38
212            213   Sao Tome and Principe        6,280           77
213            214                   Palau        5,986            9
216            217                   Nauru        4,621            1
217            218                Anguilla        3,904           12
218            219                   Macao        3,488          120
219            220   Saint Pierre Miquelon        3,452            2
220            221       Wallis and Futuna        3,427            7
224            225              Montserrat        1,403            8

    Total Recovered Active Cases     Total Test     Population
0       101,322,779    1,741,147  1,159,832,679    334,805,269
1        44,150,289        1,755    915,265,788  1,406,631,776
2        39,264,546       95,532    271,490,188     65,584,518
3        37,398,100      216,022    122,332,384     83,883,596
4        35,919,372      208,134     63,776,166    215,353,593
5        21,567,425   10,952,618     92,144,639    125,584,838
6        29,740,877      422,703     15,804,065     51,329,899
7        25,014,986      251,970    265,478,247     60,262,770
8        24,020,088       50,102    522,526,476     68,497,907
9        21,356,008      207,580    273,400,000    145,805,947
11       13,557,699       55,345    471,036,328     46,719,142
12       10,612,479      870,843     85,826,548     98,953,541
13       11,235,771       41,060     78,835,048     26,068,792
14        9,877,032       29,682     35,716,069     46,010,234
15        9,129,766      423,489     30,207,485     23,888,595
16        8,547,771       11,740     25,984,435     17,211,447
17        7,337,549       82,052     54,420,785     86,022,837
18        6,606,633      429,421     19,356,195    131,562,772
19        6,565,208        4,264    114,158,919    279,134,505
20        5,335,940      925,549     38,118,630     37,739,785
21        6,179,501       34,322     36,951,507     51,512,762
22        5,730,189       28,351    211,273,524      9,066,710
23        5,662,212       10,459    102,228,365     10,316,637
24        5,532,366        5,519     45,915,651     10,140,570
25        5,253,302        5,809     32,603,805     43,192,122
26        5,051,555        3,614     48,127,301     19,250,195
27        4,989,861        9,790     67,665,089     33,181,072
28        4,768,242        5,754     41,373,364      9,326,000
30        4,692,636          483     17,270,775     70,078,203
31        4,644,681       13,261     36,548,544     11,668,278
32        4,538,304        9,403     56,893,223     10,736,784
33        4,444,013       55,863     66,343,123     38,388,419
34        4,258,688        4,002     37,754,603     33,684,208
35        4,366,770        4,479     23,318,743      8,773,637
36        3,998,048        9,604     34,343,332    112,508,994
37        3,912,506       40,865     26,473,049     60,756,135
38        3,252,104        5,326     26,389,988     19,031,335
39        3,163,849        1,253    129,144,754      5,834,950
40        2,509,483      354,439     76,123,870      7,604,299
41        2,658,039       12,173     19,410,527     10,218,971
42        2,440,527       12,970     12,154,486      8,653,016
43        2,439,497          673     19,544,451     42,164,965
44        2,144,490       70,898     24,756,666      5,943,546
45        2,139,857        3,913     11,394,556      9,606,259
46        2,169,320        9,254      7,710,637      4,898,203
47        1,992,694       15,420     15,247,014    167,885,689
48        1,839,309          638      7,390,781      5,460,193
49        1,776,548       20,706     16,920,079      3,968,738
50        1,731,007        1,868     17,201,885     10,300,869
51        1,685,183        6,608     12,984,257      5,020,199
52        1,538,689        6,984     30,570,862    229,488,994
53        1,471,835          909     11,002,430      5,511,370
54        1,447,569        2,411     12,017,711      5,554,960
55        1,383,020        9,202     11,575,012     19,205,043
56        1,311,159        3,637      2,824,843      2,078,034
57        1,282,528        4,792     10,350,770      2,661,708
58        1,254,491        2,756     10,987,749      6,844,597
59        1,255,881           63     12,930,733     37,772,756
60        1,249,168          535      5,476,183      4,059,286
61        1,087,587      130,262      4,795,578      6,684,849
62        1,204,545        3,202      6,757,892     18,584,039
63        1,146,143       19,497      2,705,422     11,992,656
64          860,711      316,307      4,659,757      5,182,354
66        1,103,799          109     14,298,479     11,305,652
67        1,011,682        3,615      3,082,403     18,113,361
68        1,032,735       14,326    198,638,806     10,081,785
69        1,023,939        1,162      6,114,822      3,496,016
70        1,020,206          899      7,475,016      4,446,964
71        1,005,658           34      4,030,048      3,378,078
72          989,064           18      6,003,944     30,225,582
73          985,592        1,327     13,646,641      9,432,800
74          968,830          307      7,858,319      1,848,837
75          815,528        2,860     45,048,008     35,844,909
76          817,654          205      7,487,550     10,300,205
78          698,400          509     10,682,444      1,783,983
79          655,158            3      6,486,117     21,575,842
80          660,237           51      8,455,743      4,380,326
81          644,785       10,926      3,740,928     11,056,370
82          633,422        7,954      9,640,118      1,223,387
83          614,299           31      9,941,945     55,227,143
84          615,445          159      3,078,533      5,345,541
85          524,990       85,989      3,659,157      1,321,910
86          504,142       82,578      3,216,305      4,013,171
87          545,003          739      3,359,014     29,266,991
88          442,182       48,850      3,693,367    106,156,692
89          500,721            4      2,483,446      7,040,745
91          486,531        5,428      5,459,809    120,812,698
92          491,585          263      4,065,369      2,979,915
93          418,572       66,404      1,603,660        908,061
95          435,162        2,129      3,242,901      2,971,966
96          379,084        6,045      1,884,721      3,249,317
97          384,669       10,152     25,000,000      5,323,993
98          336,623          167      2,216,193      2,081,304
99          337,040           82      3,967,062     56,215,221
100         335,104        1,612      3,865,993     19,470,234
101         328,951        1,621      1,941,032      2,866,374
102         325,934          493      2,026,898      2,441,162
103         288,991        7,633      4,412,567        642,371
104         283,210          348      2,697,814        627,950
105         243,601       31,394        717,784        445,431
106         182,749       81,748        230,861     45,350,148

In [ ]:
# Verificar as informações estatísticas da base importada, como: média, mediana, desvio padrão e quartis

import pandas as pd


# Para obter um resumo estatístico da base de dados
estatisticas = df.describe()

# Imprimir o resumo estatístico
print(estatisticas)

#estatisticas = df.describe(include='all')

       Serial Number
count     195.000000
mean      107.189744
std        64.303965
min         1.000000
25%        51.500000
50%       104.000000
75%       162.000000
max       225.000000

In [ ]:
# Aplicar filtros necessários para responder as 3 questões acima

In [ ]:
#Os top 10 países que mais registraram casos de COVID?

top10_casos = df.sort_values(by='Total Cases', ascending=False).head(10)
print(top10_casos)

     Serial Number                 Country Total Cases Total Deaths  \
73              74                 Belarus     994,037        7,118
131            132           French Guiana      98,028          420
74              75                  Latvia     975,355        6,218
132            133                     DRC      95,514        1,463
200            201                   Niger       9,931          312
201            202  St. Vincent Grenadines       9,585          123
15              16                  Taiwan   9,569,611       16,356
202            203     Antigua and Barbuda       9,106          146
133            134                 Senegal      88,902        1,971
134            135                  Malawi      88,559        2,686

    Total Recovered Active Cases  Total Test  Population
73          985,592        1,327  13,646,641   9,432,800
131          11,254       86,354     651,257     314,169
74          968,830          307   7,858,319   1,848,837
132          84,264        9,787     846,704  95,240,792
200           8,890          729     254,538  26,083,660
201           9,454            8     113,504     111,551
15        9,129,766      423,489  30,207,485  23,888,595
202           8,954            6      18,901      99,509
133          86,929            2   1,146,543  17,653,671
134          85,369          504     624,784  20,180,839

In [ ]:
#Os top 10 países que mais apresentaram casos de morte por COVID?

top10_mortes = df.sort_values(by='Total Deaths', ascending=False).head(10)
print(top10_mortes)

     Serial Number          Country Total Cases Total Deaths Total Recovered  \
145            146       Mauritania      63,665          997          62,437
93              94          Réunion     485,895          919         418,572
98              99  North Macedonia     346,428        9,638         336,623
75              76     Saudi Arabia     827,962        9,574         815,528
57              58        Lithuania   1,296,865        9,545       1,282,528
64              65       Costa Rica   1,186,176        9,158         860,711
213            214            Palau       5,986            9           5,976
177            178    Liechtenstein      21,340           89          21,237
198            199     Sint Maarten      11,010           89          10,905
142            143             Fiji      68,820          883          66,780

    Active Cases  Total Test  Population
145          231   1,009,957   4,901,981
93        66,404   1,603,660     908,061
98           167   2,216,193   2,081,304
75         2,860  45,048,008  35,844,909
57         4,792  10,350,770   2,661,708
64       316,307   4,659,757   5,182,354
213            1      68,820      18,233
177           14     112,457      38,387
198           16      62,056      43,966
142        1,157     667,715     909,466

In [ ]:
#Onde os casos ainda são altos?


paises_altos_casos = df.sort_values(by='Active Cases', ascending=False).head(10)
print(top10_mortes)

     Serial Number          Country Total Cases Total Deaths Total Recovered  \
145            146       Mauritania      63,665          997          62,437
93              94          Réunion     485,895          919         418,572
98              99  North Macedonia     346,428        9,638         336,623
75              76     Saudi Arabia     827,962        9,574         815,528
57              58        Lithuania   1,296,865        9,545       1,282,528
64              65       Costa Rica   1,186,176        9,158         860,711
213            214            Palau       5,986            9           5,976
177            178    Liechtenstein      21,340           89          21,237
198            199     Sint Maarten      11,010           89          10,905
142            143             Fiji      68,820          883          66,780

    Active Cases  Total Test  Population
145          231   1,009,957   4,901,981
93        66,404   1,603,660     908,061
98           167   2,216,193   2,081,304
75         2,860  45,048,008  35,844,909
57         4,792  10,350,770   2,661,708
64       316,307   4,659,757   5,182,354
213            1      68,820      18,233
177           14     112,457      38,387
198           16      62,056      43,966
142        1,157     667,715     909,466